In [1]:
##requirements
#pip install sqlalchemy
#pip install sqlalchemy-utils
### DATA sources ; copy and paste the data to your local public repo : /User/username/public/ and enter this path

## [QUERY THE SQL DATA BASE crime.db]

In [32]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,inspect, Column,Integer,String
engine = create_engine("sqlite:///SQL/crime.db",echo=False)

In [34]:
ins = inspect(engine)
for table_name in ins.get_table_names():
    print('--'*10)
    print(f'Table name : {table_name}')
    print('--'*10)
    for column in ins.get_columns(table_name):
        print("Column: %s" % column['name'],column['type'])

--------------------
Table name : country_gdp
--------------------
Column: index INTEGER
Column: country_code TEXT
Column: gdp TEXT
--------------------
Table name : country_info
--------------------
Column: index INTEGER
Column: country_code TEXT
Column: population INTEGER
Column: density INTEGER
Column: size INTEGER
Column: fert_rate REAL
Column: med_age INTEGER
Column: urban_pop (%) REAL
Column: wordl_pop (%) REAL
--------------------
Table name : country_names
--------------------
Column: index INTEGER
Column: code TEXT
Column: country TEXT
Column: latitude REAL
Column: longitude REAL
--------------------
Table name : crime_rate
--------------------
Column: index INTEGER
Column: country_code TEXT
Column: crime_index TEXT
--------------------
Table name : drug_seizures
--------------------
Column: index INTEGER
Column: country_code TEXT
Column: quantity REAL
--------------------
Table name : happiness
--------------------
Column: index INTEGER
Column: country_code TEXT
Column: rank INTEGER
Column: score REAL
Column: GDP REAL
Column: social_support REAL
Column: life_expectancy REAL
Column: freedom REAL
Column: trust_governement REAL
Column: generosity REAL
Column: year INTEGER
--------------------
Table name : prison_pop
--------------------
Column: index INTEGER
Column: country_code TEXT
Column: prison_pop INTEGER
Column: prison_rate INTEGER
Column: pre_trial_detainees REAL
Column: women_percent REAL
Column: minors_percent REAL
Column: foreigns_percent REAL
Column: number_institution INTEGER
Column: capacity INTEGER
Column: occupancy REAL

In [37]:
#Reflect the database
Base = automap_base()
Base.prepare(engine,reflect=True)
Base.classes.keys()
#store the tables
country_names = Base.classes.country_names
country_info = Base.classes.country_info
country_gdp = Base.classes.country_gdp
happiness = Base.classes.happiness
prison_pop = Base.classes.prison_pop
crime_rate = Base.classes.crime_rate
drug_seizures = Base.classes.drug_seizures

In [38]:
#Query the crime rate for every county and compare to their hapiness
import pandas as pd
session = Session(engine)
con = engine.connect()
stm = session.query(crime_rate.crime_index,country_names.country,happiness.score ).\
    filter(crime_rate.country_code == country_names.code).\
        join(happiness,country_names.code == happiness.country_code).\
            order_by(crime_rate.crime_index.desc()).statement
df = pd.read_sql_query(stm,con)
df.head()

  crime_index    country   score
0       84.49  Venezuela  4.7070
1       84.49  Venezuela  4.8060
2       84.49  Venezuela  5.0532
3       84.49  Venezuela  5.2500
4       84.49  Venezuela  6.0840

## [QUERY THE SQL DATA BASE THROUGH PG ADMIN]

In [39]:
#takes a SQL table schema file and create the crime db in pg admin
#dependencies
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import shutil
#inputs
user_name = input('Enter your pgadmin user name : ')
user_password = input('Enter your pgadmin password : ')
file_path= input(
    'Enter the absolute path to your public directory. It should be this format : (/Users/username/public/): ')
#create the database on pg admin
engine = create_engine(f'postgresql+psycopg2://{user_name}:{user_password}@localhost/crimedb')
if not database_exists(engine.url):
    create_database(engine.url)
print(f'Database exist? : {database_exists(engine.url)}')
c = engine.connect()
# Open and read the file as a single buffer
file = 'SQL/Table_schema.sql'
fd = open(file, 'r',encoding='utf-8')
sqlFile = fd.read()
fd.close()
# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')
# Execute every command from the input file
for command in sqlCommands:
    co = command.split()
    if co[0] == 'COPY':
        new_path = shutil.copy(f'SQL/Data/{co[1]}.csv', f'{file_path}')
        command = command.replace(co[3],f"'{new_path}'")
    try:
        c.execute(command)
        print(f'{command}, done')
    except:
        print(f"wrong {command}")
print('--'*20)
print('Database crimdb created')
print('--'*20)

Database exist? : True
wrong ï»¿
DROP TABLE IF EXISTS country_names

CREATE TABLE "country_names" (
    "code" VARCHAR(3)   NOT NULL,
    "country" VARCHAR(50)   NOT NULL,
    "latitude" FLOAT   NOT NULL,
    "longitude" FLOAT   NOT NULL,
    CONSTRAINT "pk_country_names" PRIMARY KEY (
        "code"
     )
), done


COPY country_names
FROM '/Users/quentinmahieu/Public/country_names.csv'
DELIMITER','
CSV HEADER, done


DROP TABLE IF EXISTS country_info, done

CREATE TABLE "country_info" (
    "id"  SERIAL  NOT NULL,
    "country_code" VARCHAR(3),
    "population" BIGINT ,
    "density" FLOAT,
    "size" BIGINT,
    "fert_rate" VARCHAR,
    "med_age" VARCHAR,
    "urban_pop" FLOAT,
    "world_pop" FLOAT,
    CONSTRAINT "pk_country_info" PRIMARY KEY (
        "id"
     )
), done


ALTER TABLE "country_info" ADD CONSTRAINT "fk_country_info_country_code" FOREIGN KEY("country_code")
REFERENCES "country_names" ("code"), done


COPY country_info
FROM '/Users/quentinmahieu/Public/country_info.csv'
DELIMITER','
CSV HEADER, done


DROP TABLE IF EXISTS country_gdp, done

CREATE TABLE "country_gdp" (
    "id"  SERIAL  NOT NULL,
    "country_code" VARCHAR(3),
    "gdp" FLOAT,
    CONSTRAINT "pk_country_gdp" PRIMARY KEY (
        "id"
     )
), done


ALTER TABLE "country_gdp" ADD CONSTRAINT "fk_country_gdp_country_code" FOREIGN KEY("country_code")
REFERENCES "country_names" ("code"), done


COPY country_gdp
FROM '/Users/quentinmahieu/Public/country_gdp.csv'
DELIMITER','
CSV HEADER, done


DROP TABLE IF EXISTS happiness, done

CREATE TABLE "happiness" (
    "id"  SERIAL  NOT NULL,
    "country_code" VARCHAR(3),
    "rank" INT ,
    "score" FlOAT,
    "GDP" FLOAT,
    "social_support" FLOAT,
    "life_expenctancy" FLOAT,
    "freedom" FLOAT,
    "trust_governement" FLOAT,
    "generosity" FLOAT,
    "year" INT,
    CONSTRAINT "pk_happiness" PRIMARY KEY (
        "id"
     )
), done


ALTER TABLE "happiness" ADD CONSTRAINT "fk_happiness_country_code" FOREIGN KEY("country_code")
REFERENCES "country_names" ("code"), done


COPY happiness
FROM '/Users/quentinmahieu/Public/happiness.csv'
DELIMITER','
CSV HEADER , done


DROP TABLE IF EXISTS prison_pop, done

CREATE TABLE "prison_pop" (
    "id"  SERIAL,
    "country_code" VARCHAR(3),
    "prison_pop" INT,
    "prison_rate" INT,
    "pre_trial_detainees" FLOAT,
    "women_percent" FLOAT,
    "minors_percent" FLOAT,
    "foreigns_percent" FLOAT,
    "number_institutions" INT,
    "capacity" INT,
    "occupancy" FLOAT,
    CONSTRAINT "pk_prison_pop" PRIMARY KEY (
        "id"
     )
), done


ALTER TABLE "prison_pop" ADD CONSTRAINT "fk_prison_pop_country_code" FOREIGN KEY("country_code")
REFERENCES "country_names" ("code"), done


COPY prison_pop
FROM '/Users/quentinmahieu/Public/prison_pop.csv'
DELIMITER','
CSV HEADER , done


DROP TABLE IF EXISTS crime_rate, done

CREATE TABLE "crime_rate" (
    "id"  SERIAL  NOT NULL,
    "country_code" VARCHAR(3),
    "crime_index" FLOAT,
    CONSTRAINT "pk_crime_rate" PRIMARY KEY (
        "id"
     )
), done


ALTER TABLE "crime_rate" ADD CONSTRAINT "fk_crime_rate_country_code" FOREIGN KEY("country_code")
REFERENCES "country_names" ("code"), done


COPY crime_rate
FROM '/Users/quentinmahieu/Public/crime_rate.csv'
DELIMITER','
CSV HEADER , done


DROP TABLE IF EXISTS drug_seizures, done

CREATE TABLE "drug_seizures" (
    "id"  SERIAL  NOT NULL,
    "country_code" VARCHAR(30),
    "quantity" FLOAT,
    CONSTRAINT "pk_drug_seizures" PRIMARY KEY (
        "id"
     )
), done


ALTER TABLE "drug_seizures" ADD CONSTRAINT "fk_drug_seizures_country_code" FOREIGN KEY("country_code")
REFERENCES "country_names" ("code"), done
wrong

COPY drug_seizures
FROM '/Users/quentinmahieu/Public/drug_seizures.csv'
DELIMITER','
CSV HEADER

IndexError: list index out of range

In [40]:
#rendertables prints the available table, columns and their types.
def rendertables():
    import sqlalchemy
    from sqlalchemy.ext.automap import automap_base
    from sqlalchemy.orm import Session
    from sqlalchemy import create_engine, func,inspect
    from scripts.api_keys import password
    engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost/crimedb')
    con = engine.connect()
    insp = inspect(engine)
    Base = automap_base()
    Base.prepare(engine,reflect=True)
    print('##'*10)
    print('Available Tables and columns')
    for table in Base.classes.keys():
        col = insp.get_columns(table_name = table)
        print('--'*10)
        print(f'Tablename : {table} ')
        for c in col:
            print(c['name'], c['type'])
        print('--'*10)
    print('##'*10)
rendertables()

####################
Available Tables and columns
--------------------
Tablename : country_names
code VARCHAR(3)
country VARCHAR(50)
latitude DOUBLE PRECISION
longitude DOUBLE PRECISION
--------------------
--------------------
Tablename : country_info
id INTEGER
country_code VARCHAR(3)
population BIGINT
density DOUBLE PRECISION
size BIGINT
fert_rate VARCHAR
med_age VARCHAR
urban_pop DOUBLE PRECISION
world_pop DOUBLE PRECISION
--------------------
--------------------
Tablename : country_gdp
id INTEGER
country_code VARCHAR(3)
gdp DOUBLE PRECISION
--------------------
--------------------
Tablename : happiness
id INTEGER
country_code VARCHAR(3)
rank INTEGER
score DOUBLE PRECISION
GDP DOUBLE PRECISION
social_support DOUBLE PRECISION
life_expenctancy DOUBLE PRECISION
freedom DOUBLE PRECISION
trust_governement DOUBLE PRECISION
generosity DOUBLE PRECISION
year INTEGER
--------------------
--------------------
Tablename : prison_pop
id INTEGER
country_code VARCHAR(3)
prison_pop INTEGER
prison_rate INTEGER
pre_trial_detainees DOUBLE PRECISION
women_percent DOUBLE PRECISION
minors_percent DOUBLE PRECISION
foreigns_percent DOUBLE PRECISION
number_institutions INTEGER
capacity INTEGER
occupancy DOUBLE PRECISION
--------------------
--------------------
Tablename : crime_rate
id INTEGER
country_code VARCHAR(3)
crime_index DOUBLE PRECISION
--------------------
--------------------
Tablename : drug_seizures
id INTEGER
country_code VARCHAR(30)
quantity DOUBLE PRECISION
--------------------
####################

In [41]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,inspect
from scripts.api_keys import password
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost/crimedb')
con = engine.connect()
Base = automap_base()
Base.prepare(engine,reflect=True)

In [42]:
#store the tables
country_names = Base.classes.country_names
country_info = Base.classes.country_info
country_gdp = Base.classes.country_gdp
happiness = Base.classes.happiness
prison_pop = Base.classes.prison_pop
crime_rate = Base.classes.crime_rate
drug_seizures = Base.classes.drug_seizures

In [43]:
#Query the crime rate for every county and compare to their hapiness
import pandas as pd
session = Session(engine)
stm = session.query(crime_rate.crime_index,country_names.country,happiness.score ).\
    filter(crime_rate.country_code == country_names.code).\
        join(happiness,country_names.code == happiness.country_code).\
            order_by(crime_rate.crime_index.desc()).statement
df = pd.read_sql_query(stm,con)
df.head()

   crime_index    country   score
0        84.49  Venezuela  5.0532
1        84.49  Venezuela  4.7070
2        84.49  Venezuela  4.8060
3        84.49  Venezuela  5.2500
4        84.49  Venezuela  6.0840