In [14]:
import pandas as pd
from functions import country_codes

In [15]:
df = pd.read_csv('../Resources/seizure-table.csv')
df

,Unnamed: 0,Region,Sub Region,Country,Drug Group,Drug,1980,1981,1982,1983,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,Africa,Northern Africa,Algeria,ATS (excluding ecstasy),Methamphetamine,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.0350,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,Non-specified ATS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,159.490250,268.10650,300.448000,451.960750
2,2,NaN,NaN,NaN,Cocaine,"Cocaine (base, paste and salts)",NaN,NaN,NaN,NaN,...,1.02636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,Cocaine salts,NaN,NaN,NaN,NaN,...,NaN,1.17772,10.901023,182.8567,3.790487,1.245626,88.287395,59.09941,6.279407,671.887093
4,4,NaN,NaN,NaN,NaN,Crack,NaN,NaN,NaN,NaN,...,0.04282,NaN,0.005700,NaN,NaN,NaN,0.048300,0.02300,0.631200,0.000300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,4254,NaN,NaN,NaN,NaN,Cannabis seed,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4255,4255,NaN,NaN,NaN,NaN,Non-specified hallucinogens,0.01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4256,4256,NaN,NaN,Tonga,Cocaine,"Cocaine (base, paste and salts)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4257,4257,NaN,NaN,NaN,Marijuana (herb),Marijuana (herb),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4258,4258,NaN,NaN,NaN,Other drugs,Cannabis seed,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df = df.drop(columns=['Unnamed: 0','Drug Group','Drug','Region','Sub Region','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007'])
df

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Algeria,NaN,NaN,NaN,NaN,8.0350,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.490250,268.10650,300.448000,451.960750
2,NaN,0.716418,1.02636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.17772,10.901023,182.8567,3.790487,1.245626,88.287395,59.09941,6.279407,671.887093
4,NaN,0.067000,0.04282,NaN,0.005700,NaN,NaN,NaN,0.048300,0.02300,0.631200,0.000300
...,...,...,...,...,...,...,...,...,...,...,...,...
4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4256,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df['quantity'] = df.sum(axis=1)
df.head(5)

,Country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,quantity
0,Algeria,NaN,NaN,NaN,NaN,8.0350,NaN,NaN,NaN,NaN,NaN,NaN,8.035000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.490250,268.10650,300.448000,451.960750,1180.005500
2,NaN,0.716418,1.02636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.742778
3,NaN,NaN,NaN,1.17772,10.901023,182.8567,3.790487,1.245626,88.287395,59.09941,6.279407,671.887093,1025.524861
4,NaN,0.067000,0.04282,NaN,0.005700,NaN,NaN,NaN,0.048300,0.02300,0.631200,0.000300,0.818320

In [18]:
df = df.drop(columns=['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'])
df

      Country     quantity
0     Algeria     8.035000
1         NaN  1180.005500
2         NaN     1.742778
3         NaN  1025.524861
4         NaN     0.818320
...       ...          ...
4254      NaN     0.000000
4255      NaN     0.000000
4256    Tonga     0.000000
4257      NaN     0.000000
4258      NaN     0.000000

[4259 rows x 2 columns]

In [19]:
df = df.ffill()
df.head()

   Country     quantity
0  Algeria     8.035000
1  Algeria  1180.005500
2  Algeria     1.742778
3  Algeria  1025.524861
4  Algeria     0.818320

In [20]:
df_country = df.groupby(['Country']).sum()
df_country

                                        quantity
Country
Afghanistan                         3.902369e+06
Albania                             6.653025e+05
Algeria                             1.074963e+06
Andorra                             1.466822e+02
Angola                              1.722212e+04
...                                          ...
Venezuela (Bolivarian Republic of)  7.564213e+05
Viet Nam                            5.243914e+04
Yemen                               4.044972e+04
Zambia                              5.671450e+05
Zimbabwe                            1.164928e+02

[195 rows x 1 columns]

In [21]:
df_country = df_country.reset_index()
df_country

                                Country      quantity
0                           Afghanistan  3.902369e+06
1                               Albania  6.653025e+05
2                               Algeria  1.074963e+06
3                               Andorra  1.466822e+02
4                                Angola  1.722212e+04
..                                  ...           ...
190  Venezuela (Bolivarian Republic of)  7.564213e+05
191                            Viet Nam  5.243914e+04
192                               Yemen  4.044972e+04
193                              Zambia  5.671450e+05
194                            Zimbabwe  1.164928e+02

[195 rows x 2 columns]

In [22]:
df_country['quantity'] = df_country['quantity'].map("{:.2f}".format)
df_country

                                Country    quantity
0                           Afghanistan  3902368.61
1                               Albania   665302.52
2                               Algeria  1074963.04
3                               Andorra      146.68
4                                Angola    17222.12
..                                  ...         ...
190  Venezuela (Bolivarian Republic of)   756421.30
191                            Viet Nam    52439.14
192                               Yemen    40449.72
193                              Zambia   567144.98
194                            Zimbabwe      116.49

[195 rows x 2 columns]

In [23]:
df_country = df_country.rename(columns={"Country":"country"})
df_country

                                country    quantity
0                           Afghanistan  3902368.61
1                               Albania   665302.52
2                               Algeria  1074963.04
3                               Andorra      146.68
4                                Angola    17222.12
..                                  ...         ...
190  Venezuela (Bolivarian Republic of)   756421.30
191                            Viet Nam    52439.14
192                               Yemen    40449.72
193                              Zambia   567144.98
194                            Zimbabwe      116.49

[195 rows x 2 columns]

In [24]:
drug_seizure_df = country_codes(df_country,'Country')

congo not found
czechia not found
czechoslovakia not found
russian federation not found
ussr not found
viet nam not found

In [30]:
drug_seizure_df.to_csv("../Data/drug_seizures.csv")