In [6]:
import pandas as pd
import re

In [7]:
file = '../Resources/world_country.csv'
country_df = pd.read_csv(file,keep_default_na=False,encoding='utf-8')
country_df = country_df[['country_code','country','latitude','longitude']]
country_df = country_df.rename({'country_code':'code'},axis=1)
country_df.head()

  code               country   latitude  longitude
0   AD               Andorra  42.546245   1.601554
1   AE  United Arab Emirates  23.424076  53.847818
2   AF           Afghanistan  33.939110  67.709953
3   AG   Antigua and Barbuda  17.060816 -61.796428
4   AI              Anguilla  18.220554 -63.068615

In [8]:
#cleaning countries
for country in country_df['country']:
    c = re.sub('\[','(',country)
    c = re.sub('\]',')',c)
    country_df['country'] = country_df['country'].replace(country,c)
country_df['country'] = country_df['country'].str.normalize('NFKD').\
    str.encode('ascii', errors='ignore').str.decode('utf-8')

In [9]:
#export to csv fo PSQL
f = open('../SQL/Data/country_names.csv','w')
country_df.to_csv(f,index=False,encoding='utf-8')
f.close()

In [26]:
import sqlite3
path = '/Users/quentinmahieu/Desktop/School/Monash/Projects_Monash/13.ETL_project/SQL/crime.db'
conn = sqlite3.connect(path)
country_df.to_sql('country_names', con = conn)