In [1]:
import pandas as pd
import re
from functions import country_codes

In [2]:
df = pd.read_csv('../Resources/pop_worldometer_data.csv')
countries_info_df = df.iloc[:,[0,1,4,5,7,8,9,10]]
columns = ['country','population','density', 'size',
        'fert_rate','med_age','urban_pop (%)','wordl_pop (%)']
for i,col in enumerate(countries_info_df.columns):
    countries_info_df = countries_info_df.rename({col:columns[i]},axis=1)
countries_info_df.head()

,country,population,density,size,fert_rate,med_age,urban_pop (%),wordl_pop (%)
0,China,1439323776,153.0,9388211.0,1.7,38.0,61.0,18.47
1,India,1380004385,464.0,2973190.0,2.2,28.0,35.0,17.70
2,United States,331002651,36.0,9147420.0,1.8,38.0,83.0,4.25
3,Indonesia,273523615,151.0,1811570.0,2.3,30.0,56.0,3.51
4,Pakistan,220892340,287.0,770880.0,3.6,23.0,35.0,2.83

In [3]:
countries_info_df = country_codes(countries_info_df,'country')

dr congo not found
congo not found

In [4]:
countries_info_df['country_code'][15] = 'CD'
countries_info_df['country_code'][116] = 'CG'
countries_info_df['country_code'][195] = 'VC'
countries_info_df['country_code'][214] = 'TS'

In [7]:
f = open('../Data/country_info.csv','w',encoding='utf-8')
countries_info_df.to_csv(f)
f.close()