In [5]:
import pandas as pd
import re
from functions import store

In [6]:
file = '../Resources/auz_stats_crime.xls'
xls = pd.ExcelFile(file)
# Now you can list all sheets in the file
print(xls.sheet_names)

['Contents', 'Table_1', 'Table_2', 'Table_3', 'Table_4', 'Table_5', 'Table_6', 'Table_7', 'Table_8', 'Table_9', 'Table_10', 'Table_11', 'Table_12', 'Table_13']

In [7]:
#evolution of prisoners crime per gender
df = pd.read_excel(file, sheet_name="Table_2",skiprows=5,nrows=11,header=0)
prison_gender_df = df.rename({'Aboriginal and Torres Strait Islander':'Indigenous',
            'no.':'Total','Non-Indigenous':'Non_Indigenous',
            'No prior imprisonment':'No_prior_imprisonment' },axis=1).copy()
prison_gender_df

,Year,Males,Females,Indigenous,Non_Indigenous,Sentenced,Unsentenced,Prior imprisonment,No_prior_imprisonment,Total,Imprisonment rate
0,2009,27195,2127,7387,21554,22923,6391,16268,13050,29315,176.0
1,2010,27469,2231,7584,21827,23333,6369,16202,13459,29700,175.0
2,2011,27079,2030,7655,21423,22382,6724,15898,13204,29107,168.8
3,2012,27185,2201,7984,21268,22510,6873,16072,13305,29380,167.4
4,2013,28423,2346,8430,22218,23335,7375,17798,12951,30773,172.2
5,2014,31201,2589,9265,24456,25513,8213,19780,14005,33789,185.6
6,2015,33256,2876,9885,26214,26163,9898,20856,15266,36134,195.8
7,2016,35745,3094,10596,28216,26649,12111,21827,17011,38845,207.5
8,2017,37905,3299,11307,29870,28199,12911,23268,17932,41202,215.9
9,2018,39343,3625,11849,31095,29030,13856,24375,18591,42974,221.4
10,2019,39538,3494,11866,31133,28721,14210,24907,18115,43028,218.6

In [8]:
#evolution of prisoners_crime per type
df = pd.read_excel(file, sheet_name="Table_3",skiprows=4,nrows=18,header=0)
prisoners_types_df = df.T.copy()
prisoners_types_df = prisoners_types_df.rename(
        columns=prisoners_types_df.iloc[0]).iloc[1:,1:]
for i in range(len(prisoners_types_df.columns)-1):
    c = prisoners_types_df.columns.str.split(' ')[i][1:]
    s = ' '
    col = s.join(c)
    prisoners_types_df = prisoners_types_df.rename(columns={prisoners_types_df.columns[i]:col})
prisoners_types_df.head()

,Homicide and related offences,Acts intended to cause injury,Sexual assault and related offences,Dangerous or negligent acts endangering persons,"Abduction, harassment and other offences against the person","Robbery, extortion and related offences",Unlawful entry with intent,Theft and related offences,"Fraud, deception and related offences",Illicit drug offences,Prohibited and regulated weapons and explosives offences,Property damage and environmental pollution,Public order offences,Traffic and vehicle regulatory offences,"Offences against justice procedures, gov't security and operations",Miscellaneous offences,Total
2010,2811,5803,3709,688,333,2879,3374,1272,843,3233,219,316,202,1172,2656,154,29700
2011,2831,5595,3666,661,325,2797,3244,1120,747,3294,204,373,203,961,2920,153,29107
2012,2837,5777,3577,734,355,2922,3357,1186,765,3409,258,395,192,880,2644,91,29380
2013,2833,6251,3517,764,404,3000,3613,1230,737,3630,305,390,194,785,2969,75,30773
2014,2876,7072,3694,926,434,3158,3970,1379,771,4032,409,449,232,813,3420,86,33789

In [9]:
#prisoners by age and sex
df = pd.read_excel(file, sheet_name="Table_4",skiprows=5,nrows=12,header=0)
df1 = df.iloc[:,0:4].rename({'Age ':'Age','no.': 'count',
        '%':'gender','Imprisonment rate':'Imprisonment_rate'},axis=1)
df1['gender'] = 'M'
df2 = df.iloc[:,[0,4,5,6]].rename({'Age ':'Age','no..1': 'count',
        '%.1':'gender','Imprisonment rate.1':'Imprisonment_rate'},axis=1)
df2['gender'] = 'F'
age_gender_df = pd.concat([df1,df2])
for age in age_gender_df['Age']:
    new_age = re.sub('\s+\w+','',age)
    age_gender_df['Age'] = age_gender_df['Age'].replace(age,new_age)
age_gender_df['Age'] = age_gender_df['Age'].str.replace('65','65+')
age_gender_df['prop_total'] = round((age_gender_df['count']/age_gender_df['count'].sum())*100,2)
age_gender_df.head()

     Age  count gender  Imprisonment_rate  prop_total
0     18    211      M              132.6        0.49
1     19    489      M              293.0        1.14
2  20–24   4795      M              530.5       11.14
3  25–29   7122      M              745.3       16.55
4  30–34   7108      M              764.0       16.52

In [10]:
#prisoners by age and crime
df = pd.read_excel(file, sheet_name="Table_6",skiprows=4,nrows=12,header=0)
age_crime_df = df.copy()
for i in range(1,len(age_crime_df.columns)-1):
    c = age_crime_df.columns.str.split(' ')[i][1:]
    s = ' '
    col = s.join(c)
    age_crime_df = age_crime_df.rename(columns={age_crime_df.columns[i]:col})
age_crime_df = age_crime_df.rename(columns={'Age ':'Age'})
for age in age_crime_df['Age']:
   new_age = re.sub('\s+\w+','',age)
   age_crime_df['Age'] = age_crime_df['Age'].replace(age,new_age)
age_crime_df['Age'] = age_crime_df['Age'].str.replace('65','65+')
age_crime_df['prop_total'] = round((age_crime_df['Total']/age_crime_df['Total'].sum())*100,2)
age_crime_df.head()

,Age,Homicide and related offences,Acts intended to cause injury,Sexual assault and related offences,Dangerous or negligent acts endangering persons,"Abduction, harassment and other offences against the person","Robbery, extortion and related offences",Unlawful entry with intent,Theft and related offences,"Fraud, deception and related offences",Illicit drug offences,Prohibited and regulated weapons and explosives offences,Property damage and environmental pollution,Public order offences,Traffic and vehicle regulatory offences,"Offences against justice procedures, gov't security and operations",Miscellaneous offences,Total,prop_total
0,18,12,57,20,9,0,45,49,7,4,9,7,3,0,0,5,0,225,0.52
1,19,24,157,29,28,8,85,91,20,6,29,4,13,7,0,26,0,533,1.24
2,20–24,219,1459,358,301,61,704,666,206,54,534,114,77,28,42,436,7,5283,12.28
3,25–29,395,2060,518,403,135,723,806,327,108,1201,185,123,34,111,619,13,7763,18.04
4,30–34,444,1912,654,358,120,562,804,321,157,1354,176,99,34,107,629,14,7756,18.03

In [11]:
#prisoners by origin
df = pd.read_excel(file, sheet_name="Table_7",skiprows=4,nrows=12,header=0)
origin_df = df.copy()
for i in range(1,len(origin_df.columns)-1):
    c = origin_df.columns.str.split(' ')[i][1:]
    s = ' '
    col = s.join(c)
    origin_df = origin_df.rename(columns={origin_df.columns[i]:col})
origin_df = origin_df.rename(columns={'Selected country of birth':'Country'})
origin_df['prop_total'] = round((origin_df['Total']/origin_df['Total'].sum())*100,2)
origin_df.head()

,Country,Homicide and related offences,Acts intended to cause injury,Sexual assault and related offences,Dangerous or negligent acts endangering persons,"Abduction, harassment and other offences against the person","Robbery, extortion and related offences",Unlawful entry with intent,Theft and related offences,"Fraud, deception and related offences",Illicit drug offences,Prohibited and regulated weapons and explosives offences,Property damage and environmental pollution,Public order offences,Traffic and vehicle regulatory offences,"Offences against justice procedures, gov't security and operations",Miscellaneous offences,Total,prop_total
0,Australia,2540,8634,4482,1546,500,2638,3771,1322,714,4130,742,520,167,500,2890,42,35228,82.92
1,New Zealand,88,269,148,48,15,124,90,30,23,188,17,8,6,11,32,0,1107,2.61
2,Vietnam,42,39,17,4,0,16,20,37,8,668,6,6,0,3,31,4,904,2.13
3,United Kingdom,90,61,194,15,5,27,28,14,22,112,3,7,3,3,21,3,621,1.46
4,China,39,21,33,0,4,3,9,8,9,184,0,0,0,0,10,6,334,0.79

In [12]:
file2 = '../Resources/offenders_australia.xls'
df = pd.read_excel(file2, sheet_name="Table 1",skiprows=5,nrows=52,header=0)
df = df.T.reset_index()
df = df.rename(columns=df.iloc[0]).iloc[1:,:]

In [13]:
crime_types_df = df.iloc[0:11].dropna(axis=1).rename({'Principal offence':'Year'},axis=1)
crime_rate_types_df = df.iloc[11:,:].dropna(axis=1).rename({'Principal offence':'Year'},axis=1)
list_year = list(crime_types_df['Year'])
crime_rate_types_df['Year'] = list_year

In [14]:
crime_rate_types_df.head()

,Year,01 Homicide and related offences,011 Murder,012 Attempted Murder,013 Manslaughter and driving causing death,02 Acts intended to cause injury,021 Assault,029 Other acts intended to cause injury,03 Sexual assault and related offences,031 Sexual assault,...,12 Property damage and environmental pollution,13 Public order offences,131 Disorderly conduct,132 Regulated public order offences,133 Offensive conduct,15 Offences against justice,153 Breach of violence and non-violence orders,156 Offences against justice procedures,16 Miscellaneous offences,Total
12,2008–09,4.4,1.7,1.2,1.4,384.9,369.6,14.6,33.9,26.6,...,117.2,352.2,157.2,110.1,84.5,139.9,39.2,80.9,90.6,2005.7
13,2009–10,4.6,1.7,1.2,1.7,379,362.2,16.2,33.6,25.6,...,110.5,394.3,163.9,112.6,117.3,136.8,41.8,79,100.8,2062.2
14,2010–11,3.9,1.6,1,1.3,364.9,347.5,17.1,30,23.5,...,103.1,381.8,145.1,111.1,125.2,122.9,43.2,68.2,114.7,2005.1
15,2011–12,3.4,1.3,0.9,1.2,348.6,330.8,17.6,30.6,23.4,...,93.6,353.5,139.4,103.5,110.4,116.7,42.7,64.9,124.2,1945.3
16,2012–13,3.6,1.5,0.9,1.3,352.3,332.4,19.6,30.9,22.4,...,90.1,370.2,136.1,114.4,119.5,121.6,46.1,65.7,147.4,1990.7

In [15]:
crime_types_df.head()

,Year,01 Homicide and related offences,011 Murder,012 Attempted Murder,013 Manslaughter and driving causing death,02 Acts intended to cause injury,021 Assault,029 Other acts intended to cause injury,03 Sexual assault and related offences,031 Sexual assault,...,12 Property damage and environmental pollution,13 Public order offences,131 Disorderly conduct,132 Regulated public order offences,133 Offensive conduct,15 Offences against justice,153 Breach of violence and non-violence orders,156 Offences against justice procedures,16 Miscellaneous offences,Total
1,2008–09,816,318,232,260,72069,69218,2728,6340,4979,...,21953,65962,29428,20609,15831,26201,7332,15148,16957,375593
2,2009–10,880,326,227,322,72280,69079,3082,6412,4889,...,21067,75200,31261,21481,22363,26092,7970,15067,19228,393263
3,2010–11,757,303,192,256,70573,67219,3317,5796,4548,...,19937,73845,28063,21480,24226,23776,8348,13186,22190,387841
4,2011–12,661,261,168,237,68476,64981,3449,6019,4591,...,18385,69442,27382,20333,21691,22927,8383,12751,24397,382098
5,2012–13,728,296,173,258,70371,66406,3913,6173,4475,...,18000,73940,27181,22844,23876,24288,9218,13123,29453,397663