In [1]:
import pandas as pd 
import numpy as np
from functions import country_codes

In [2]:
dfs = {}
for year in range(2015,2021):
    df = pd.read_csv(f'../Resources/{year}.csv')
    df['year'] = year
    dfs[f'happy_{year}'] = df

In [3]:
happy_2015_df = dfs['happy_2015']
happy_2016_df = dfs['happy_2016']
happy_2017_df = dfs['happy_2017']
happy_2018_df = dfs['happy_2018']
happy_2019_df = dfs['happy_2019']
happy_2020_df = dfs['happy_2020']
happy_2020_df['rank'] = np.arange(1,len(happy_2020_df)+1)

In [4]:
happy_2017_df = happy_2017_df.iloc[:,[0,1,2,5,6,7,8,9,10,12]]
happy_2018_df= happy_2018_df.iloc[:,[1,0,2,3,4,5,6,8,7,9]]
happy_2019_df= happy_2019_df.iloc[:,[1,0,2,3,4,5,6,8,7,9]]
happy_2020_df= happy_2020_df.iloc[:,[0,-1,2,-9,-8,-7,-6,-4,-5,-2]]

In [5]:
final_df = pd.concat([happy_2015_df,happy_2016_df])
columns = ['country', 'rank', 'score', 'GDP','social_support',
    'life_expectancy','freedom','trust_governement','generosity',
    'year']
final_df = final_df[['Country','Happiness Rank', 'Happiness Score',
    'Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom',
    'Trust (Government Corruption)','Generosity','year']]
def renaming(df):
    for i,col in enumerate(df.columns):
        df = df.rename({col:columns[i]},axis=1)
    return df
final_df = renaming(final_df)
happy_2017_df = renaming(happy_2017_df)
happy_2018_df = renaming(happy_2018_df)
happy_2019_df = renaming(happy_2019_df)
happy_2020_df = renaming(happy_2020_df)

In [12]:
happy_df = pd.concat([final_df,happy_2017_df,happy_2018_df,happy_2019_df,happy_2020_df])
happy_df['country'] = happy_df['country'].str.\
    replace('Hong Kong S.A.R., China','Hong Kong')
happy_df['country'] = happy_df['country'].str.\
    replace('Hong Kong S.A.R. of China','Hong Kong')
happy_df['country'] = happy_df['country'].str.\
    replace('Somaliland region','Somalia')
happy_df['country'] = happy_df['country'].str.\
    replace('Somaliland Region','Somalia')
happy_df = happy_df.drop(happy_df.index[[65,219,375,857,527,689]])
happy_df['country'] = happy_df['country'].str.\
    replace('North Macedonia','Macedonia')
happy_df['country'] = happy_df['country'].str.\
    replace('Taiwan Province of China','Taiwan')
happy_df['country'] = happy_df['country'].str.\
    replace('Trinidad & Tobago','Trinidad and Tobago')
happy_df.reset_index(drop=True,inplace=True)

In [13]:
happy_df = country_codes(happy_df,'country')

palestinian territories not found
congo kinshasa not found
congo brazzaville not found
ivory coast not found
palestinian territories not found
congo kinshasa not found
congo brazzaville not found
ivory coast not found
palestinian territories not found
congo brazzaville not found
congo kinshasa not found
ivory coast not found
palestinian territories not found
ivory coast not found
congo brazzaville not found
congo kinshasa not found
ivory coast not found
congo brazzaville not found
palestinian territories not found
congo kinshasa not found
ivory coast not found
congo brazzaville not found
palestinian territories not found
congo kinshasa not found

In [23]:
happy_df[happy_df['country_code']=='']

Empty DataFrame
Columns: [country, rank, score, GDP, social_support, life_expectancy, freedom, trust_governement, generosity, year, country_code]
Index: []

In [22]:
happy_df['country_code'][[101,870,705,549,399,253]] = 'PS'
happy_df['country_code'][[113,270,422,577,722,876]] = 'CD'
happy_df['country_code'][[132,272,420,559,698,833]] = 'CG'
happy_df['country_code'][[144,284,424,552,694,830]] = 'CI'

In [24]:
f = open('../Data/happiness.csv','w',encoding='utf-8')
happy_df.to_csv(f,index=False)
f.close()
happy_df.head()

,country,rank,score,GDP,social_support,life_expectancy,freedom,trust_governement,generosity,year,country_code
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015,CH
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015,IS
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015,DK
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015,NO
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015,CA