In [1]:
import pandas as pd 
import numpy as np
from functions import country_codes

In [2]:
dfs = {}
for year in range(2015,2021):
    df = pd.read_csv(f'../Resources/{year}.csv')
    df['year'] = year
    dfs[f'happy_{year}'] = df

In [3]:
happy_2015_df = dfs['happy_2015']
happy_2016_df = dfs['happy_2016']
happy_2017_df = dfs['happy_2017']
happy_2018_df = dfs['happy_2018']
happy_2019_df = dfs['happy_2019']
happy_2020_df = dfs['happy_2020']
happy_2020_df['rank'] = np.arange(1,len(happy_2020_df)+1)

In [4]:
happy_2017_df = happy_2017_df.iloc[:,[0,1,2,5,6,7,8,9,10,12]]
happy_2018_df= happy_2018_df.iloc[:,[1,0,2,3,4,5,6,8,7,9]]
happy_2019_df= happy_2019_df.iloc[:,[1,0,2,3,4,5,6,8,7,9]]
happy_2020_df= happy_2020_df.iloc[:,[0,-1,2,-9,-8,-7,-6,-4,-5,-2]]

In [5]:
final_df = pd.concat([happy_2015_df,happy_2016_df])
columns = ['country', 'rank', 'score', 'GDP','social_support',
    'life_expectancy','freedom','trust_governement','generosity',
    'year']
final_df = final_df[['Country','Happiness Rank', 'Happiness Score',
    'Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom',
    'Trust (Government Corruption)','Generosity','year']]
def renaming(df):
    for i,col in enumerate(df.columns):
        df = df.rename({col:columns[i]},axis=1)
    return df
final_df = renaming(final_df)
happy_2017_df = renaming(happy_2017_df)
happy_2018_df = renaming(happy_2018_df)
happy_2019_df = renaming(happy_2019_df)
happy_2020_df = renaming(happy_2020_df)

In [6]:
happy_df = pd.concat([final_df,happy_2017_df,happy_2018_df,happy_2019_df,happy_2020_df])
happy_df['country'] = happy_df['country'].str.\
    replace('Hong Kong S.A.R., China','Hong Kong')
happy_df['country'] = happy_df['country'].str.\
    replace('Hong Kong S.A.R. of China','Hong Kong')
happy_df['country'] = happy_df['country'].str.\
    replace('Somaliland region','Somalia')
happy_df['country'] = happy_df['country'].str.\
    replace('Somaliland Region','Somalia')
happy_df = happy_df.drop(happy_df.index[[65,219,375,857,527,689]])
happy_df['country'] = happy_df['country'].str.\
    replace('North Macedonia','Macedonia')
happy_df['country'] = happy_df['country'].str.\
    replace('Taiwan Province of China','Taiwan')
happy_df['country'] = happy_df['country'].str.\
    replace('Trinidad & Tobago','Trinidad and Tobago')
happy_df.reset_index(drop=True,inplace=True)

In [7]:
happy_df = country_codes(happy_df,'country')

palestinian territories not found
congo kinshasa not found
congo brazzaville not found
ivory coast not found
palestinian territories not found
congo kinshasa not found
congo brazzaville not found
ivory coast not found
palestinian territories not found
congo brazzaville not found
congo kinshasa not found
ivory coast not found
palestinian territories not found
ivory coast not found
congo brazzaville not found
congo kinshasa not found
ivory coast not found
congo brazzaville not found
palestinian territories not found
congo kinshasa not found
ivory coast not found
congo brazzaville not found
palestinian territories not found
congo kinshasa not found

In [9]:
happy_df['country_code'][[101,870,705,549,399,253]] = 'PS'
happy_df['country_code'][[113,270,422,577,722,876]] = 'CD'
happy_df['country_code'][[132,272,420,559,698,833]] = 'CG'
happy_df['country_code'][[144,284,424,552,694,830]] = 'CI'
happy_df[happy_df['country_code']=='UK']

Empty DataFrame
Columns: [country, rank, score, GDP, social_support, life_expectancy, freedom, trust_governement, generosity, year, country_code]
Index: []

In [10]:
#for PSQL
del happy_df['country']
happy_df = happy_df.iloc[:,[-1,0,1,2,3,4,5,6,7,8]]
f = open('../SQL/Data/happiness.csv','w',encoding='utf-8')
happy_df.to_csv(f)
f.close()

In [12]:
happy_df

,country_code,rank,score,GDP,social_support,life_expectancy,freedom,trust_governement,generosity,year
0,CH,1,7.5870,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2015
1,IS,2,7.5610,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2015
2,DK,3,7.5270,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2015
3,NO,4,7.5220,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2015
4,CA,5,7.4270,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2015
...,...,...,...,...,...,...,...,...,...,...
894,CF,149,3.4759,0.041072,0.000000,0.000000,0.292814,0.028265,0.253513,2020
895,RW,150,3.3123,0.343243,0.522876,0.572383,0.604088,0.485542,0.235705,2020
896,ZW,151,3.2992,0.425564,1.047835,0.375038,0.377405,0.080929,0.151349,2020
897,SS,152,2.8166,0.289083,0.553279,0.208809,0.065609,0.111157,0.209935,2020
898,AF,153,2.5669,0.300706,0.356434,0.266052,0.000000,0.001226,0.135235,2020

In [11]:
import sqlite3
path = '/Users/quentinmahieu/Desktop/School/Monash/Projects_Monash/13.ETL_project/SQL/crime.db'
conn = sqlite3.connect(path)
happy_df.to_sql('happiness', con = conn)