In [1]:
import pandas as pd
import re
from functions import country_codes

In [2]:
file1 = '../Data/country_names.csv'
file2 = '../Data/prison_pop.csv'
prison = pd.read_csv(file2,keep_default_na=False)
country = pd.read_csv(file1,keep_default_na=False)

In [3]:
prison.head()

,country,prison_pop,prison_rate,pre_trial_detainees,women_percent,minors_percent,foreigns_percent,number_institution,capacity,occupancy,country_code
0,Afghanistan,30748,87,31.3,2.6,4.0,0.9,251,16711,179.9,AF
1,Albania,4508,159,45.7,1.9,0.2,1.5,23,6236,85.0,AL
2,Algeria,65000,153,12.0,1.5,0.8,3.8,131,68317,89.3,DZ
3,American Samoa (USA),193,345,14.9,5.5,0.0,62.2,1,142,166.2,AS
4,Andorra,43,55,42.2,11.1,0.0,88.5,1,142,30.3,AD

In [4]:
country.head()

   Unnamed: 0 code               country   latitude  longitude
0           0   AD               Andorra  42.546245   1.601554
1           1   AE  United Arab Emirates  23.424076  53.847818
2           2   AF           Afghanistan  33.939110  67.709953
3           3   AG   Antigua and Barbuda  17.060816 -61.796428
4           4   AI              Anguilla  18.220554 -63.068615

In [5]:
#import the country codes in the df
prison_df = country_codes(prison,'Country')
prison_df['country'] = prison_df['country'].str.normalize('NFKD').\
        str.encode('ascii', errors='ignore').str.decode('utf-8')
prison_df.head()

,country,prison_pop,prison_rate,pre_trial_detainees,women_percent,minors_percent,foreigns_percent,number_institution,capacity,occupancy,country_code
0,Afghanistan,30748,87,31.3,2.6,4.0,0.9,251,16711,179.9,AF
1,Albania,4508,159,45.7,1.9,0.2,1.5,23,6236,85.0,AL
2,Algeria,65000,153,12.0,1.5,0.8,3.8,131,68317,89.3,DZ
3,American Samoa (USA),193,345,14.9,5.5,0.0,62.2,1,142,166.2,AS
4,Andorra,43,55,42.2,11.1,0.0,88.5,1,142,30.3,AD

In [6]:
f = open('../Data/prison_pop.csv','w')
prison_df.to_csv(f,encoding='utf-8')
f.close()